/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

/* تعيين الخط الافتراضي للتطبيق */

html,
body,
.p-component,
.p-inputtext,
.p-button,
.p-dropdown,
.p-card,
.p-dialog,
.p-toast,
.p-menu {
    font-family: var(--font-family) !important;
}

/* عربي = بدون تباعد حروف + تفعيل اللِّيجشرات */
:lang(ar),
[dir='rtl'] {
    letter-spacing: 0 !important;
    font-variant-ligatures: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings:
        'liga' 1,
        'kern' 1;
}

/* امنع أي letter-spacing جاي من الثيم على العناصر الشائعة */
h1,
h2,
h3,
.p-card-title,
.p-dialog-title,
.p-button-label,
label,
.p-menubar .p-menuitem-text {
    letter-spacing: 0 !important;
}

/* عناصر الإدخال في RTL */
[dir='rtl'] .p-inputtext,
[dir='rtl'] .p-password input,
[dir='rtl'] .p-dropdown,
[dir='rtl'] .p-input-icon-right > .p-inputtext {
    direction: rtl;
    text-align: right;
}

/* تجنّب أحرف كبيرة على العربي */
:lang(ar) * {
    text-transform: none !important;
}
